.e-container{
  width: calc(100% - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 375px){
  .e-container{
    max-width: 90%;
  }
}

@media screen and (min-width: 960px){
  .e-container{
    width: 85%;
    max-width: 85%;
  }
}

@media screen and (min-width: 1024px){
  .e-container{
    max-width: 1024px;
  }
}

.home__title {
	text-align: center;
}
.home__search {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home__products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}