.hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.search__error {
	margin-top: 8px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: bold;
	color: #dc3545;
}